<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h2>Messages</h2>
    <div class="messages">
      <% messages.forEach((message) => { %>
      <div class="message">
        <div><%= message.username %></div>
        <div><%= message.message %></div>
        <div><%= message.date.toLocaleDateString() %></div>
        <button>
          <a href="messages/<%= message.id %>">See message details</a>
        </button>
      </div>
      <% }) %>
    </div>
    <a class="link" href="/new">Send a message</a>
  </body>
</html>
