<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= `${message.user} : ${message.text.slice(0, 5)}...` %></title>
  </head>
  <body class="details">
    <h2>Message's Details</h2>
    <div class="message">
      <div>From: <%= message.user %></div>
      <div>Message: <%= message.text %></div>
      <div>Date: <%= message.added %></div>
    </div>
    <a class="link" href="/">Return to Homepage</a>
  </body>
</html>
