<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>
      <%= `${message.username} : ${message.message.slice(0, 5)}...` %>
    </title>
  </head>
  <body class="details">
    <h2>Message's Details</h2>
    <div class="message">
      <div>From: <%= message.username %></div>
      <div>Message: <%= message.message %></div>
      <div>Date: <%= message.date.toLocaleDateString() %></div>
    </div>
    <a class="link" href="/">Return to Homepage</a>
  </body>
</html>
